<h1 class="mb-4">Registrar nuevo producto</h1>

<div class="row">
	<div class="col-md-4 offset-md-4">
		<div class="card">
			<div class="card-body">
				<form action="/productos/create" method="post" enctype="multipart/form-data">
					<div class="input-group mb-3">
						<input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus required>
					</div>
					<div class="input-group mb-3">
						<input type="text" name="marca" placeholder="Marca" class="form-control" required>
					</div>
					<div class="input-group mb-3">
						<input type="text" name="precio_venta" placeholder="Precio venta" class="form-control" required>
					</div>
					<div class="input-group mb-3">
						<input type="text" name="precio_compra" placeholder="Precio compra" class="form-control" required>
					</div>
					<div class="input-group mb-3">
						<input type="text" name="pais_procedencia" placeholder="País procedencia" class="form-control" required>
					</div>
					<div class="input-group mb-3">
						<input type="file" name="imagen" accept="image/*" class="form-control" required />
					</div>

					<button type="submit" class="btn btn-success col-12">
						<i class="bi bi-save2"></i> Guardar
					</button>
				</form>
			</div>
		</div>
	</div>
</div>